.button {
  display: flex;
  padding: 10px 16px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: none;
}

.primary {
  background-color: #6a5acd;
  color: var(--primary-color);
}

.secondary {
  background-color: #d9534f;
  color: var(--primary-color);
}

.button:hover {
  cursor: pointer;
}
