.wrapper {
  padding: 150px;
  width: 70%;
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.button-container {
  display: flex;
  gap: 20px;
  align-self: flex-end;
}
